*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  
.navbar {
  overflow: hidden;
  background-color: #f0f1ef;
  align-items: center;
  display: flex;
  border-bottom: rgb(45, 48, 51);
  box-shadow: 0px 1px 1px 1px rgb(45, 48, 51);
  flex-direction: row;
}
  
.navbar a {
  display: inline-block;
  font-size: 16px;
  color: rgb(45, 48, 51);
  text-align: center;
  padding: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.signin-button {
    border-radius: 7px;
    background-color: white;
    color: black;
    padding: 6px 10px;
    border: 2px solid #87adc0;
    margin-right: 5px;
}
  
.signin-button svg {
    width: 18px;
    height: 18px;
    fill: currentColor;
    margin-right: 5px;
    vertical-align: middle;
}
  
.signin-button:hover {
    background-color: #abc6d4;
    color: white;
    cursor: pointer;
}
  
.signin-button:active {
    transform: scale(0.98);
}
  
.signin-button {
    transform: translateX(-20px);
}

.logo-header img{
    width: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-left: 50px;
}
  
.logo img{
    width: 100px;
    margin: 0 auto;
}
    
.site-header {
    position: relative;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(216, 216, 216); 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(183, 183, 183);
    z-index: 100;
}
    
.nav__wrapper {
    position: fixed;
    top: 83px;
    left: 0;
    width: Max(225px, 20%);
    bottom: 0;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100%);
    background-color: #ffffff;
    transition: transforM 0.3s ease-out, opacity 0.3s ease-out;
    display: block; 
}
  
.nav__wrapper.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0); 
    background-color: white;
}
    
.nav__item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
  
.nav__item a {
    display: block;
    padding: 1rem; 
    text-decoration: none;
    color: black;
}

  
.nav__toggle i {
    color: #333333;
    transition: 0.2s ease-in-out;
    flex: 1;
}
  
.nav__toggle:hover i {
    color: #87adc0;
}
  
.nav__toggle {
    transform: translateX(20px);
}

@media (min-width: 1080px) {
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }
}

*
{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    justify-content: center;
    background:#e8eef1;
}

.container{
    position: relative;
    width:1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
    margin-top: 8%;
}

.container .card{
    width: 315px;
    position: relative;
    height: 470px;
    background: rgb(236, 237, 214);
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0.5px 10px #e1f1fb;
    transition: 0.5s ease-in-out;
    margin-top: 5%;
}

.container .card .imgbox{
    position: relative;
    width:260px;
    height: 260px;
    top: -60px;
    left: 20px;
    box-shadow: 0 5px 20px rgb(0,0,0,1,2);
}

.container .card .imgbox img{
    max-width: 100%;
    border-radius: 10px;
}

.imgbox:hover img{
    transform: scale(1.1);
}



